.product-listing-all-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5rem;
}


.grid-item{
    display: flex;
    justify-content: center;
}