.product-listning-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.listning-container{
    padding-left: 5rem;
    padding-bottom: 2rem;
    padding-top: 4rem;
    display: flex ;
    justify-content:space-between; 
    gap: 3rem;
}

.product-container{
    margin-top: 5%;
    text-align: center;
}